.content {
    display: flex;
    min-height: 600px;
    flex-direction: row;
}

.column1 {
    display: flex;
    width: 30%;
    order: 1;
    border: solid 2px black;
    justify-content: center;
    margin: 5px;
    padding-top: 5px;
    background-color: blue;
}

.column2 {
    display: flex;
    width: 70%;
    order: 2;
    border: solid 2px black;
    justify-content: center;
    margin: 5px;
    padding-top: 5px;
    background-color: crimson;
}

.header {
    display: flex;
    margin: 5px;
    border: solid 2px black;
    padding-left: 5px;
    height: 80px;
    justify-content: center;
    background-color: darkolivegreen;
}

.footer {
    display: flex;
    margin: 5px;
    border: solid 2px black;
    padding-left: 5px;
    height: 80px; 
    justify-content: center;
    background-color: yellow;
}